body {
  color: #dadada;
  background-color:#121212;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  border: 2px solid #3a3a3a;
  aspect-ratio: 1;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}
