.icon {
    display: block;
    height: 1.5em;
    width: 1.5em;
}

.icon-climb {
    content: url('./climb.svg');    
    filter: invert(100%);
}

.icon-rope {
    content: url('./rope.svg');
    filter: invert(100%);
}

.icon-water {
    content: url('./water.svg');
    filter: invert(100%);
}

.icon-tight {
    content: url('./tight.svg');
    filter: invert(100%);
}