input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.infobox {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.progressbar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
  font-family: 'Courier New', monospace;
}

.outerprogressbar {
  position:relative;
}

div.overflowdisp
{
    overflow: scroll;
    background-color: #ffffff;
    font-family: 'Courier New', monospace;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: 75%;
}

pre {
	font-size: 75%;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 5px 0;
}

.delicate {
    font-size: 75%;
    color: gray;
}
