body {
  color: #dadada;
  background-color:#121212;
  font-family: Arial, sans-serif;
}

.hidden {
  visibility: hidden;
}

.share {
  max-width: 800px;
  font-family:monospace;
  font-size: 1rem;
  color: #333;
  text-align: center;
  border: 2px solid #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.share:hover {
  background-color: #508050;
}

.container {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  border: 2px solid #3a3a3a;
  aspect-ratio: 1;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}

.solved {
  font-family:monospace;
  font-size: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family:monospace;
  font-size: 1rem;
  color: #333;
  text-align: center;
}

.sadshaking {
    animation: sadshake 0.4s ease-in-out;
}
.happyshaking {
    animation: happyshake 0.4s ease-in-out;
}

@keyframes sadshake {
    20% { 
    transform: translate(-4px, 0); 
    background-color: #805050;
    }
    40% { 
    transform: translate(+4px, 0); 
    background-color: #805050;
    }
    60% { 
    transform: translate(-4px, 0); 
    background-color: #805050;
    }
    80% { 
    transform: translate(+4px, 0); 
    background-color: #805050;
    }
}

@keyframes happyshake {
    30% { 
    transform: translate(0,-2rem); 
    background-color: #508050;
    }
    60% { 
    transform: translate(0,0.5rem); 
    background-color: #508050;
    }
}
